<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <main class="main_login">

        <header class="header">
            <img src="img/logo_cars.PNG" alt="Logo" class="logo-icon">
            <img src="img/cars_titulo.png" alt="Cars" class="logo-text">
        </header>


        <div class="login_title_container">
            <img src="img/login.png" alt="Logo" class="login_title">
        </div>

        <div class="icon_person_container">
            <img src="img/icon_person.png" alt="Car race" id="icon_person">
        </div>
        <div class="login-container">
            <form action="index.html" method="post" class="login-form">
                <label for="username">NAME</label>
                <input type="text" id="username" name="username" class="input_login">

                <label for="password">PASSWORD</label>
                <input type="password" id="password" name="password" class="input_login">

                <a href="recuperacion.html" class="forgot">Forgot your password?</a>
                <div style="display: flex; justify-content: center; margin-top: 20px; align-items: center;">
                    <a href="home.html" class="btn_login_login">LOGIN</a>
                </div>

            </form>
        </div>

    </main>

</body>

</html>