<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Cars App</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <main class="main_register">

        <header class="header">
            <img src="img/logo_cars.PNG" alt="Logo" class="logo-icon">
            <img src="img/cars_titulo.png" alt="Cars" class="logo-text">

        </header>

       

        <div class="login_title_container">
            <img src="img/register.png" alt="Logo" class="login_title">
        </div>

        <div class="icon_person_container register_icon">
            <img src="img/icon_person.png" alt="User icon" id="icon_person">
        </div>

        <div class="register-container">
            <form action="login.html" method="post" class="register-form">

                <label for="name">NAME</label>
                <input type="text" id="name" name="name" class="input_register">

                <label for="email">EMAIL</label>
                <input type="email" id="email" name="email" class="input_register">

                <label for="phone">PHONE NUMBER</label>
                <input type="tel" id="phone" name="phone" class="input_register">

                <label for="password">PASSWORD</label>
                <input type="password" id="password" name="password" class="input_register">

                <label for="confirm_password">CONFIRM PASSWORD</label>
                <input type="password" id="confirm_password" name="confirm_password" class="input_register">

                 <a href="login.html" class="btn btn_login">REGISTER</a>

            </form>
        </div>

    </main>

</body>
</html>